* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

$pokemon-type-colors: (
  grass: rgb(139, 219, 139),
  fire: rgb(247, 175, 109),
  water: rgb(177, 177, 255),
  poison: rgb(255, 148, 255),
);

.pokemon-background-type {
  background-color: grey;
}

@each $name, $hex in $pokemon-type-colors {
  .pokemon-background-type-#{$name} {
    background-color: $hex;
  }
}
