<div class="navbar">
  <div class="left-elements">
    <span>My pokémons</span>
    <span>Pokedex</span>
  </div>
  <div class="right-elements">
    <input type="text" placeholder="Rechercher">
  </div>
</div>

<div class="title">
  <h1>Pokedex</h1>
</div>

<div class="filter">
  <Label>Filtrer par : </Label>
  <select name="filter" id="filter">
    <option value="Type">Type</option>
    <option value="Feu">Feu</option>
    <option value="Eau">Eau</option>
    <option value="Herbe">Herbe</option>
    <option value="Poison">Poison</option>
    <option value="Electricité">Electricité</option>
  </select>
</div>
