
<div class="pokemon-item">

    <div class="infos">
      <div class="top-elements">
        <div class="name">
          <div class="card-id">#{{ pokemon?.id }}</div>
          <div class="pokemon-name">{{ pokemon?.name }}</div>
        </div>
        <div class="favorite">
          <img src="../../../assets/medias/icons/star.png" alt="star">
        </div>
      </div>
      <div class="type">
        <div class="type-tag okemon-background-type pokemon-background-type-{{types.type.name}}" *ngFor="let types of pokemon?.types">
         <p>{{ types.type?.name }}</p>
        </div>
      </div>
    </div>

    <div class="photo">
      <img [src]=pokemon.sprites.front_default>
    </div>

</div>


