


<div class="pokemon-item">

    <div class="infos">
      <div class="top-elements">
        <div class="name">
          <div class="card-id">#001</div>
          <div class="pokemon-name"></div>
        </div>
        <div class="favorite">
          <img src="../../../assets/medias/icons/star.png" alt="star">
        </div>
      </div>
      <div class="type">
        <div class="type-tag">
         <p>Feu</p>
        </div>
      </div>
    </div>

    <div class="photo"> </div>

</div>

